.popup{
	display: block;
	width: 100%;
	max-width: 450px;
	position: relative;
	background-color: $main-color;
	padding: 65px 65px 40px;
	margin: 0 auto;
	border-radius: 5px;
	color: #fff;
	&-title{
		font-size: 34px;
		font-weight: 700;
		line-height: 42px;
		text-align: center;
		margin-bottom: 10px;
	}
	&-sub-title, .descr{
		font-size: 13px;
		text-align: center;
		opacity: .6;
		margin-bottom: 38px;
		line-height: 18px;
	}
	.box-field{
		display: block;
		width: 100%;
		margin-bottom: 20px;
		&__label{
			display: block;
			width: 100%;
			font-size: 12px;
			margin-bottom: 5px;
		}
		.form-control{
			display: block;
			width: 100%;
			border: none;
			padding: 0 20px;
			font-size: 15px;
			height: 50px;
			border-radius: 5px;
			color: $title-color;
			@include placeholder{
				color: #bfbfbf;
			}
		}
	}
	.descr{
		margin-bottom: 0;
		margin-top: 30px;
	}
	.main-btn{
		display: block;
		font-size: 15px;
		margin: 30px auto 0;
	}
	button.mfp-close{
		color: #fff;
		opacity: 1;
		font-size: 0;
		width: 26px;
		height: 26px;
		line-height: 24px;
		text-align: center;
		padding: 0;
		border: 1px solid #fff;
		border-radius: 50%;
		background: url(../img/icon-close.png) no-repeat center;
		top: 18px;
		right: 18px;
		&:hover{
			opacity: .5;
		}
	}
}