@font-face {
	font-family: 'PTSansCaption';
	src: url('../fonts/PTSansCaptionRegular/PTSansCaptionRegular.eot');
	src: url('../fonts/PTSansCaptionRegular/PTSansCaptionRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PTSansCaptionRegular/PTSansCaptionRegular.woff') format('woff'),
		url('../fonts/PTSansCaptionRegular/PTSansCaptionRegular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'PTSansCaption';
	src: url('../fonts/PTSansCaptionBold/PTSansCaptionBold.eot');
	src: url('../fonts/PTSansCaptionBold/PTSansCaptionBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PTSansCaptionBold/PTSansCaptionBold.woff') format('woff'),
		url('../fonts/PTSansCaptionBold/PTSansCaptionBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}

